body, html {
  padding: 0;
  margin: 0;
}
.container {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}

#modeBtn {
  float: right;
  border: none;
  cursor: pointer;
  background: inherit;
  font-size: 2rem;
  outline: none;
}

.pic img {
  width: 100%;
}